header(class='header')
    div(class='header__content')
        a(href='index.html')
            div(class="header__mail")
        a(href='index.html' class='header__logo-wrap')
            div(class='header__logo')
        div(class='header__nav')
            a(class='header-nav-btn' href='privacy-policy.html')
                span ПОЛИТИКА
                span КОНФИДЕН.
            div(class='header-nav-btn')
                span ПОДДЕРЖКА
        div(class='header__burger header-burger' id='header-burger')
            div(class='header-burger__chunk')
            div(class='header-burger__chunk')
            div(class='header-burger__chunk')
        div(class='header__dropdown header-dropdown' id='header-dropdown')
            a(class='header-nav-btn' href='privacy-policy.html')
                span ПОЛИТИКА КОНФИДЕН.
            div(class='header-nav-btn')
                span ПОДДЕРЖКА

