main(class='index-main')
    div(class='index-main__background')
    div(class='index-main__overlay')
    div(class='index-main__content')
        div(class='index-main__message')
            | помоги братишке стать крутым
        a(class='index-main__play' href='#play')
        div(class='index-main__car index-main__car_high-lvl')
        div(class='index-main__car index-main__car_low-lvl')
        div(class='index-main__character index-main__character_low-lvl')
        div(class='index-main__character index-main__character_high-lvl')
        div(class='index-main__phone')
