main(class='privacy-policy-main')
    div(class='privacy-policy-main__background')
    div(class='privacy-policy-main__overlay')
    div(class='privacy-policy-main__character')
    div(class='privacy-policy-main__message') PRIVACY POLICY
    div(class='privacy-policy-main__text-wrap')
        div(class='privacy-policy-main__text')
            p
                | A.Tarasov respects the personal confidential data of everyone who plays our games
                | or uses our applications that we provide you.
                br
                | Our application may collect non-personalized identification information about the user when he uses
                | in-game services or views ads. Non-personal information collected by the application may include data
                | such as the name of the browser, the type of computer or device on which the application is running,
                | the version of the operating system, data about the type of Internet connection, game statistics, and
                | other similar technical information.
            p.
                We do not distribute or sell personal identification information of users to third parties. We can
                share the collected demographic information that is not tied to any user or his personal
                identification data with our business partners or advertising companies in order to improve the
                services provided.

            h3 Ad networks

            p
                | We may display advertising information within our games. Advertising services may collect and use for
                | their internal purposes some information about you, such as the duration of the game session, country,
                | device ID, MAC address, IMEI, IP address, approximate geolocation data. They can use this information
                | to select the ads displayed to the user. In order to verify the installation of the application, a
                | device identifier may be requested.
                br
                | To ensure the creation of created applications. The following is a list of parties and privacy
                | policies:

            ul
                li
                    | Facebook
                    |
                    a(href='https://www.facebook.com/privacy/explanation') https://www.facebook.com/privacy/explanation
                li
                    | AppsFlyer
                    |
                    a(href='https://www.appsflyer.com/privacy-policy/') https://www.appsflyer.com/privacy-policy/
                li
                    | DevtoDev
                    |
                    a(href='https://www.devtodev.com/policy') https://www.devtodev.com/policy

            h3 Safety

            p.
                We accept and oblige all our partners to take all necessary security measures so that any information
                about users or about users is reliably protected and inaccessible to anyone. However, remember that
                any data transfer over the Internet or a wireless connection cannot be completely 100% secure. You
                have the choice to install and play our games or not, if you are afraid.

            p Your acceptance of these provisions

            p.
                By accepting this privacy policy and installing the application, you do so at your own risk. If you do
                not agree with this, please do not install our applications (games). By continuing to use them, you
                also agree that you accept any further edits to this privacy policy.

            p.
                If you have any questions, you can ask them by sending them by e-mail provided for customer support
                (in the application description).
